/* header start */
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #F3F5F9;
    z-index: 999;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}

.header img {
    width: 97px;
    height: 38px;
    margin: 19px 13px 19px 32px;
}

.header .header-nav {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 26px;
    height: 26px;
    margin-left: 19px;
    cursor: pointer;
}

.header .header-nav div {
    width: 11px;
    height: 11px;
    border: 2px solid #000;
}

.header .header-nav div:last-child {
    background-color: #000;
}

.header ul {
    justify-content: left;
    align-items: center;
}

.header ul li a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    color: #000;
}

.header ul li a:hover {
    background-color: #efe8ff;
    color: #9c71fc;
}

/* nav start */
nav.left {
    position: fixed;
    top: 116px;
    left: 20px;
    bottom: 20px;
    width: 260px;
    margin-right: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

nav.left div.outside {
    height: 40px;
    overflow: hidden;
    transition: height 1s;
}

nav.left div.outside>div.title {
    width: 220px;
    height: 40px;
    line-height: 40px;
    color: #5b5b5b;

}

nav.left div.outside>div.active {
    background-color: #F9707F;

}

nav.left div.outside>div.active a {
    color: #fff;
}

nav.left div.outside span {
    font-size: 16px;
}

nav.left div.outside span::before {
    content: "\e932";
    font-family: iconfont;
    font-size: 18px;
    margin-left: 7px;
    margin-right: 12px;
}

nav.left div.outside span::after {
    content: "\e65f";
    font-family: iconfont;
    font-size: 12px;
    margin-left: 106px;
}

nav.left ul.inside {
    padding-top: 11px;
}

nav.left ul.inside li {
    height: 39px;
    line-height: 39px;
}

nav.left ul.inside li a {
    display: inline-block;
    width: 100%;
    color: #000;
}

nav.left ul.inside a::before {
    content: "\e60f";
    font-family: iconfont;
    margin: auto 13px;
}

/* main-right */
.main-right {
    margin: 106px 10px auto 290px;
}

.grid-item {
    margin: 10px;
    padding: 33px auto auto 30px;
    border-radius: 10px;
    background-color: #fff;

}

.main-right .row1 .grid-item {
    height: 170px;

}

.main-right .row2 .grid-item,
.main-right .row3 .grid-item,
.main-right .row4 .grid-item {
    height: 460px;
}

.footer {
    height: 50px;
    background-color: #000;
    margin-top: 10px;
    position: relative;
    z-index: 222;
}